---
import Layout from "../layouts/Layout.astro";
import Banner from "../components/Banner.astro";
---

<Layout>
	<Banner title="Tools & Tricks" />
	<div class="content">
		<p>
			Throughout my time bumbling about the world of engineering, I have
			come to find some tools and products that help me quite often. These
			range from laptops, to physical tools, to good vendors.
		</p>
		<h2>Laptops</h2>
		<ul>
			<li>
				<a
					target="_blank"
					href="https://www.lenovo.com/us/en/p/laptops/yoga/yoga-2-in-1-series/yoga-9-14itl5/88ygc901455"
					>Lenovo Yoga 9i</a
				> - My favorite laptop I have owned so far. Great battery life, great
				performance, and easy to travel with. Strong aluminum frame and does't
				feel like it is going to fall apart on you within 2 months. The cherry
				on top, is the sound quality is fantastic.
			</li>
		</ul>
		<h2>Software</h2>
		<ul>
			<li>
				<a target="_blank" href="https://github.com/WerWolv/ImHex"
					>ImHex</a
				> - My favorite hex editor I have found so far. Great usability,
				and surprisingly feature-complete.
			</li>
			<li>
				<a target="_blank" href="https://com0com.sourceforge.net/"
					>com0com</a
				> - Null-modem emulator, which has been super useful for simulating
				embedded device communication through a typical COM port.
			</li>
			<li>
				<a target="_blank" href="https://www.putty.org/">PuTTY</a> - The
				best SSH/Telnet client? Absolutely not, but useful for quick and
				dirty one-off access.
			</li>
			<li>
				<a target="_blank" href="https://mobaxterm.mobatek.net/"
					>Moba X Term</a
				> - My preferred SSH and serial port client for sessions that I actually
				want to save. Comes with a great terminal emulator, and a couple
				great tools like Moba text editor, and Moba diff. Moba X term also
				has many more features you can read more about on their website..
			</li>
			<li>
				<a
					target="_blank"
					href="https://shumatech.com/web/products/bossa">Bossa</a
				> (Basic Open Source SAM-BA Application) - A flash programming utility
				for Microchip's SAM microcontrollers. As information on the SAM-BA
				protocol used to flash these chips is sparse, this application is
				a life-saver when flashing these chips.
			</li>
			<li>
				<a target="_blank" href="https://octave.org/">GNU Octave</a> - Largely
				compatible with MatLab, GNU Octave is a great high-level system for
				numerical computations, as well as general numerical experimentation.
				A great open-source alternative for MatLab's simpler features.
			</li>
			<li>
				<a
					target="_blank"
					href="https://smath.com/en-us/view/smathstudio/summary"
					>SMath Studio</a
				> - Mathematical program compared loosely to MathCAD, capable of
				solving simple equations and is generally a convient tool for quick
				calculations when something like MatLab or GNU Octave is over kill.
			</li>
			<li>
				<a target="_blank" href="https://winscp.net/eng/index.php"
					>WinSCP</a
				> - A great, free, file manager for lots of common file transfer
				protocols. Personally, it is my favorite SCP client for transferring
				files to and from my remote servers.
			</li>
			<li>
				<a target="_blank" href="https://www.wireshark.org/"
					>WireShark</a
				> - Popular network protocol analyzer, used by professionals and
				hobbyists alike to capture all the network traffic your heart desires.
			</li>
			<li>
				<a target="_blank" href="https://clickup.com/">ClickUp</a>
				- Popular project management software which I use to manage myself
				and small groups. Can be overwhelming feature-wise to start, but
				overall a great option for keeping track of your (or others) projects.
			</li>
			<li>
				<a target="_blank" href="https://github.com/zidoro/pomatez">Pomatez</a> - A Pomodoro timer I personally use for projects and generally working on stuff.
			</li>
		</ul>
		<h2>Tools & Tech</h2>
		<ul>
			<li>
				<a
					target="_blank"
					href="https://www.ifixit.com/products/mako-driver-kit-64-precision-bits"
					>IFixIt Mako Driver Kit</a
				> - Precision screwdriver set I use quite literally every day for
				various tasks, could not recommend it more.
			</li>
			<li>
				<a target="_blank" href="https://nuphy.com/products/field75"
					>Nuphy Field 75 Keyboard</a
				> - A great keyboard, a little pricy, but worth it in my opinion.
				Great for programming, but latency is a little high for games.
			</li>
			<li>
				<a
					target="_blank"
					href="https://www.corsair.com/us/en/p/keyboards/ch-91d401l-na/k65-plus-wireless-75-percent-rgb-mechanical-gaming-keyboard-ch-91d401l-na"
					>Corsair K65 Keyboard</a
				> - Another great one, and the response time is much better than
				the Nuphy, and totally usable for games (if you so please). Considerably
				smaller as well.
			</li>
			<li>
				<a
					target="_blank"
					href="https://electronics.sony.com/audio/headphones/headband/p/wh1000xm4-b"
					>Sony WH-1000XM4 Wireless Headphone</a
				> - Easily my favorite every-day headphones so far. I did some time
				in music, so I get picky with my sound, and for the price: you can
				not beat them. I have seen some blogs saying the newer (MX5) version
				is better but honestly, I don't hear the sound difference outside
				of better noise cancelling, and a flatter frequency response (however,
				they cut the lows so... not a fan).
			</li>
			<li>
				<a
					target="_blank"
					href="https://www.crkt.com/knife/ceo-flipper-folding-knife-with-liner-lock"
					>CRKT Flipper Knife</a
				> - Currently my EDC knife, as I am pretty new to the world and did
				not want to spend that much, and friends also like the brand. Honestly
				it is pretty solid for the price, and was impressed enough to list
				it here.
			</li>
		</ul>
		<h2>Vendors</h2>
		<ul>
			<li>
				<a target="_blank" href="https://www.polycase.com/">PolyCase</a>
				- A company that makes enclosures, based int he U.S. A Far cheaper
				solution than other manufacturers, and delivers a solid product for
				the price.
			</li>
			<li>
				<a target="_blank" href="https://us.openbuilds.com"
					>OpenBuilds</a
				>
				- Vendor that makes open hardware CNC machines, and provide solid
				aluminum profile for building projects, based in the U.S.
			</li>
			<li>
				<a target="_blank" href="https://www.digikey.com">DigiKey</a>
				- One of the largest electronic component distributors out there.
				Where I source most of my electrical components for projects including
				Integrated Circuits, sensors, and buttons/switches.
			</li>
			<li>
				<a target="_blank" href="https://www.playingwithfusion.com/">Playing With Fusion</a> - Small vendor which has great offerings for CAN shields, ambient temperature measurement, thermocouple converters, and distance sensors.
			</li>
		</ul>
	</div>
</Layout>
