<div class="navbar">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/blog">Blog & Articles</a></li>
        <li><a href="/tips-and-tricks">Tips & Tricks</a></li>
        <li><a href="/card">Contact</a></li>
    </ul>
</div>
